* {
	box-sizing: border-box;
	color: #ffecb4;
}

body {
	font-family: 'Bangers', cursive;
	letter-spacing: 2px;
	background-color: #e5771e;
	width: 1200px;
	margin: 40px auto;
	border-style: solid;
}

canvas {
	background-color: #75c8ae;
	color: #75c8ae;
	border-style: solid;
}

#right-span {
	margin: auto auto auto 10px;
}

#left-span {
	margin: auto 10px auto auto;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.header {
	grid-area: header;
	background-color: #5a3d2b;
	padding: 10px;
	text-align: center;
	font-size: 25px;
}

.grid-container {
	display: grid;
	grid-template-areas:
		"header header header"
		"left middle right"
		"footer footer footer";
	grid-template-columns: 1fr auto 1fr;
}

.left,
.right {
	background-color: #f4a127;
}

.left {
	display: flex;
	padding: 20px;
}

.middle {
	grid-area: middle;
}

.right {
	display: flex;
	padding: 20px;
}

.footer {
	grid-area: footer;
	background-color: #5a3d2b;
	padding: 5px;
	text-align: center;
}

@media (max-width: 600px) {
	.grid-container {
		grid-template-areas:
		"header header header header header header"
		"left left left left left left"
		"middle middle middle middle middle middle"
		"right right right right right right"
		"footer footer footer footer footer footer";
	}
}